POSTGRES_DB=requestmngr
POSTGRES_USER=requestmngr_app
POSTGRES_PASSWORD=change_this_before_running
POSTGRES_PORT=5433
APP_INITIAL_ADMIN_USERNAME=admin
APP_INITIAL_ADMIN_PASSWORD=replace_with_a_local_development_password
APP_INITIAL_ADMIN_DISPLAY_NAME=Administrator
